/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');

body {
  background-color: lightgoldenrodyellow;
  font-family: 'Red Rose', cursive;
  margin: 0;
}

h1, h2 {
  font-family: 'Rye', cursive;
}

td {
  padding: 0 20px 0 0;
}

.pagetitle {
  margin: 0;
}

.userstatus {
  margin: 5px 5px 5px;
  float: right;
}

.content {
  clear: both;
  padding: 5px;
}

.useremail {
  float: right;
}

.signoutlink {
  float: right;
  padding-left: 10px;
}

.header {
  background-color:peru;
  width: 100%;
  margin: 0;
}

.primarycontainer {
  width: 100%;
}

.primary {
  float: left;
  padding: 0 100px 20px 30px;
}

.backlink {
  clear: both;
}
